<ion-header [translucent]="true" >
  <ion-toolbar class="new-background-color" >
      <ion-img class="img" src="../../assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-content>
    <ion-label> Mes notes de frais</ion-label>
  </ion-content>
  <ion-content>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-icon name="person"></ion-icon>
        <ion-label>Créer employé</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="card"></ion-icon>
        <ion-label>Créer note de frais</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Historique</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Voir notes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>deconnexion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
