<ion-header>
  <ion-toolbar class="new-background-color" >
    <ion-img class="img" src="../../assets/logo.png"></ion-img>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <ion-label style="font-weight: bold;" class="ion-text-center"> Notes de  frais payées</ion-label>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Titre</ion-col>
        <ion-col  style="font-weight: bold;">Date</ion-col>
        <ion-col  style="font-weight: bold;">Montant</ion-col>
        <ion-col  style="font-weight: bold;">Actions</ion-col>
      </ion-row>
      <ion-row *ngFor=" let ndf of ndfs">
        <ion-col *ngIf="ndf.status==='PAID'">{{ndf.title}}</ion-col>
        <ion-col *ngIf="ndf.status==='PAID'">{{ndf.date | date}}</ion-col>
        <ion-col *ngIf="ndf.status==='PAID'">{{ndf.amount}}</ion-col>
        <ion-col *ngIf="ndf.status==='PAID'">
          <ion-icon name="information-circle-outline" (click)="toDetails(ndf.id)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item  lines="none">
    <ion-label style="font-weight: bold;" class="ion-text-center"> Notes de  frais refusées</ion-label>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Titre</ion-col>
        <ion-col  style="font-weight: bold;">Date</ion-col>
        <ion-col  style="font-weight: bold;">Montant</ion-col>
        <ion-col  style="font-weight: bold;">Actions</ion-col>
      </ion-row>
      <ion-row *ngFor=" let ndf of ndfs">
        <ion-col *ngIf="ndf.status==='REFUSED'">{{ndf.title}}</ion-col>
        <ion-col *ngIf="ndf.status==='REFUSED'">{{ndf.date | date}}</ion-col>
        <ion-col *ngIf="ndf.status==='REFUSED'">{{ndf.amount}}</ion-col>
        <ion-col *ngIf="ndf.status==='REFUSED'">
          <ion-icon name="information-circle-outline" (click)="toDetails(ndf.id)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/inscription-employee">
        <ion-icon name="person"></ion-icon>
        <ion-label>Créer </ion-label>
        <ion-label>employé</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/formulaire-ndf">
        <ion-icon name="card"></ion-icon>
        <ion-label>Créer </ion-label>
        <ion-label>note de frais</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mesndf">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Mes notes</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/traitement-ndf">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Voir notes</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="onClick()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
