.new-background-color{
  --background:rgba(78, 84, 234, 0.75);

}
.button-color{
  background: rgba(78, 84, 234, 0.75);
  width: 304px;
}

.img{
  height:7rem;
  padding: 15px;
}




#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}



#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
