<ion-header>
  <ion-toolbar class="new-background-color" >
    <ion-img class="img" src="../../assets/logo.png"></ion-img>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <ion-label  style="font-weight: bold;" class="ion-text-center"> notes de  frais non validés </ion-label>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Titre</ion-col>
        <ion-col  style="font-weight: bold;">Date</ion-col>
        <ion-col  style="font-weight: bold;">Montant</ion-col>
        <ion-col  style="font-weight: bold;">Actions</ion-col>
      </ion-row>
      <ion-row *ngFor="let ndf of ndfs">
        <ion-col *ngIf="ndf.status==='INPROGRESS'">{{ndf.title}}</ion-col>
        <ion-col *ngIf="ndf.status==='INPROGRESS'">{{ndf.date | date}}</ion-col>
        <ion-col *ngIf="ndf.status==='INPROGRESS'">{{ndf.amount}}</ion-col>
        <ion-col *ngIf="ndf.status==='INPROGRESS'">
          <ion-icon name="information-circle-outline" (click)="toDetails(ndf.id)"></ion-icon>
          <ion-icon name="checkmark-outline" (click)="updateStatusToValidated(ndf.id)"></ion-icon>
          <ion-icon name="close-outline" (click)="updateStatusToRefused(ndf.id)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


  <ion-item  lines="none">
    <ion-label style="font-weight: bold;" class="ion-text-center"> notes de  frais à payer</ion-label>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Titre</ion-col>
        <ion-col  style="font-weight: bold;">Date</ion-col>
        <ion-col  style="font-weight: bold;">Montant</ion-col>
        <ion-col  style="font-weight: bold;">Actions</ion-col>
      </ion-row>
      <ion-row *ngFor="let ndf of ndfs">
        <ion-col *ngIf="ndf.status==='VALIDATED'">{{ndf.title}}</ion-col>
        <ion-col *ngIf="ndf.status==='VALIDATED'">{{ndf.date | date}}</ion-col>
        <ion-col *ngIf="ndf.status==='VALIDATED'">{{ndf.amount}}</ion-col>
        <ion-col *ngIf="ndf.status==='VALIDATED'">
          <ion-icon name="information-circle-outline" (click)="toDetails(ndf.id)"></ion-icon>
          <ion-icon name="cash-outline" (click)="updateStatusToPaid(ndf.id)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/inscription-employee">
        <ion-icon name="person"></ion-icon>
        <ion-label>Créer </ion-label>
        <ion-label>employé</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/formulaire-ndf">
        <ion-icon name="card"></ion-icon>
        <ion-label>Créer </ion-label>
        <ion-label>note de frais</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/historique-ndf">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Historique</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mesndf">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Mes notes</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="onClick()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
